@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* locomotive-scroll.css */
html, body {
  min-height: 100%;
  overflow: hidden;
}

[data-scroll-container] {
  min-height: 100vh;
  overflow: hidden;
}

[data-scroll-section] {
  min-height: 100vh;
  padding: 50px;
}
